<div class="container footer">
  <div class="row">
    <div class="p-4 col-md-10"> <img src="https://www.procurados.org.br/images/logo_footer_portal_procurados_disque_denuncia.png"> </div>
    <div class="p-4 col-md-2">
      <ul class="menu-redes">
        <li> <a class="nav-link divisor" href="https://www.facebook.com/procurados.org/" target="_blank">
            <img src="https://www.procurados.org.br/images/icon-facebook-red.png">
          </a> </li>
        <li> <a class="nav-link" href="https://www.youtube.com/user/nucomddrj/" target="_blank">
            <img src="https://www.procurados.org.br/images/icon-youtube-red.png">
          </a> </li>
        <li> <a class="nav-link" href="https://twitter.com/DDalertaRio" target="_blank">
            <img src="https://www.procurados.org.br/images/icon-twitter-red.png">
          </a> </li>
        <li> <a class="nav-link" href="https://www.instagram.com/disquedenunciario/" target="_blank">
            <img src="https://www.procurados.org.br/images/icon-instagram-red.png">
          </a> </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 px-4 pb-4">
      <h3>Programa</h3>
      <ul class="lista">
        <a href="https://www.procurados.org.br/programa">» Procurados</a> <br>

      </ul>
    </div>
    <div class="col-md-2 px-4 pb-4">
      <h3>Procurados</h3>
      <ul class="lista">
        <a href="https://www.procurados.org.br/procurados/mais-procurados">» + Procurados</a> <br>
        <a href="https://www.procurados.org.br/procurados/em-destaque">» Em Destaque</a> <br>
        <a href="https://www.procurados.org.br/procurados/capturados">» Capturados</a> <br>
      </ul>
    </div>
    <div class="col-md-2 px-4 pb-4">
  <a href="https://www.procurados.org.br/parceiros"><h3>Parceiros</h3></a>
    </div>
    <div class="col-md-2 px-4 pb-4">
      <a href="/noticias"><h3>Notícias</h3></a>
    </div>
    <div class="col-md-2 px-4 pb-4">
      <a href="/videos"><h3>Vídeos</h3></a>
    </div>
    <div class="col-md-2 px-4 pb-4">
     <a href="/contato"><h3>Contato</h3></a>
    </div>
  </div>
  <div class="row copyright">
    <div class="col-md-12 mt-3">
      <p class="text-center">©2018 Procurados | Todas as informações do site são validadas pelo Disque Denúncia e seus parceiros. </p>
    </div>
  </div>
</div>
