.footer {
  background: #fff;
  border-top: 3px solid #ffb400;
}
.footer h3 {
  color: #ef2c2c;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.footer ul.lista a {
  color: #ef2c2c;
  font-size: 16px;
  font-weight: 00;
}
a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.menu-redes {
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.menu-redes li {
  display: -webkit-inline-box;
  margin-left: 5px;
}
ol, ul {
  padding-left: 0rem;
}
