<app-banner-procurados></app-banner-procurados>
<ng-container *ngIf="criminoso.length !== 0; else erro">
<div class="py-5 titulo-interna banTituloProcurado">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">
          "{{ criminoso[0]?.vulgo }}"<br />
          <span>{{ criminoso[0]?.nome_completo }}</span>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngFor="let item of criminoso">
    <div class="row top-7">
      <div class="col-md-4">
        <div class="col-md-12 p-0 top-3">
          <a href="#" class="btn-foto-procurado">
            <div class="mais-procurado">
              <img
                class="img-fluid d-block"
                alt="5_12_2019__1_barbara.jpg"
                [src]="item.imagem"
              />
              <div class="infos gradient"></div>
            </div>
          </a>
        </div>
        <div class="col-md-12 p-0">
          <a role="button"
            class="btn btn-secondary text-white text-uppercase w-100 top-2 fln btMobDown"
            (click)="open(content)"
            mobhref="18_9_2022__2_1.png"
            data-fancybox=""
            data-type="image"
            target="_blank"
            ><img src="https://www.procurados.org.br/images/icon-download-catalogo.png" />download do cartaz</a
          >
        </div>
        <div class="col-md-12 p-0">
          <ul class="menu-redes interna-procurado top-2">
            <li>
              <a class="share interna-procurado" href="#"> COMPARTILHAR </a>
            </li>
            <li>
              <a
                class="nav-link divisor"
                href="https://www.facebook.com/sharer/sharer.php?u=https://novosite.procurados.org.br/procurado/3877"
                target="_blank"
              >
                <img src="https://www.procurados.org.br/images/icon-facebook-red.png" />
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                href="https://twitter.com/home?status=https://novosite.procurados.org.br/procurado/3877"
                target="_blank"
              >
                <img src="https://www.procurados.org.br/images/icon-twitter-red.png" />
              </a>
            </li>
            <li class="dn">
              <a
                class="nav-link"
                href="/compartilhar/?rede=inst&amp;tipo=procurado&amp;furl=3877"
              >
                <img src="https://www.procurados.org.br/images/icon-instagram-red.png" />
              </a>
            </li>
            <li>
              <a
                class="nav-link"
                href="https://wa.me/?text=https://novosite.procurados.org.br/procurado/3877"
              >
                <img src="https://www.procurados.org.br/images/icon-whatsapp-red.png" />
              </a>
            </li>
            <li class="dn">
              <a
                class="nav-link"
                href="/compartilhar/?rede=tg&amp;tipo=procurado&amp;furl=3877"
              >
                <img src="https://www.procurados.org.br/images/icon-telegram-red.png" />
              </a>
            </li>
            <li class="dn">
              <a
                class="nav-link"
                href="/compartilhar/?rede=sk&amp;tipo=procurado&amp;furl=3877"
              >
                <img src="https://www.procurados.org.br/images/icon-skype-red.png" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 pl-4">
        <ul class="crimes">
          <li>
            <span class="num-1 dn"></span>
            <!-- artigo 158, § 2º do Código Penal -->
            {{ item.crimes[0] }} <br>
            {{ item.crimes[1] }} <br>
            {{ item.crimes[2] }} <br>
          </li>

          <li>
            <span class="funcao"></span>{{ item.funcao }}
          </li>
          <li><span class="atuacao"></span>{{ item.local }}</li>

          <li><span class="nascimento"></span>{{ item.dataNascimento }}</li>
          <li><span class="num-rg"></span>{{ item.rg }}</li>
          <li><span class="natural"></span>{{ item.naturalidade }}</li>
          <li><span class="situacao"></span>{{ item.situacao }}</li>
        </ul>
      </div>
    </div>
    <div class="row conteudo-interna top-4">
      <div
        class="d-flex flex-column justify-content-center col-lg-12 order-1 order-lg-2 p-2"
      >
        <h2>Histórico</h2>
        <p>
          <span [innerHTML]="item.historico"></span>
        </p>
      </div>
    </div>

    <div class="row conteudo-interna">
      <div
        class="d-flex flex-column justify-content-center col-lg-12 order-1 order-lg-2 p-2"
      >
        <h2>Mandados</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="titulo"><span>Origem</span></th>
                <th scope="col" class="titulo"><span>Processo</span></th>
                <th scope="col" class="titulo"><span>expedição</span></th>
              </tr>
            </thead>
            <tbody>
              <tr class="line-2">
                <th scope="row">
                  <span>{{ item.mandados.origem }}</span>
                </th>
                <td>
                  <span
                    >{{ item.mandados.processo }}</span
                  >
                </td>
                <td><span>{{ item.mandados.expedicao }}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #erro>
  <div class="container">
    <div class="alert alert-secondary" role="alert">
      Tivemos um problema no nosso servidor!
    </div>
  </div>
</ng-template>

<ng-template #content let-modal>
	<div class="modal-body">
		<p>The requested content cannot be loaded. <br> Please try again later.</p>
	</div>
</ng-template>
